/* custom css for page */


body {
 padding-bottom: 70px;
}

.navbar-default {
  height: 75px;
	border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
  padding-top: 12px;
  box-shadow: none;
}

@media (max-width: 767px){
  .navbar-collapse {
    border-top: none;
    border-bottom: 2px solid #F16362;
  }
}
.navbar a{
  border-bottom: 1px solid #F16362;
  margin-right: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav > li > a {
    padding-bottom: 5px;
}

.navbar a:hover {
  color: #F16362;
  border-bottom: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
  background-image: none;
  color: black;
  border-bottom: none;
  background-color: transparent;
  box-shadow: none;
  cursor: default;
}

.navbar-default .navbar-brand {
  font-size: 37px;
  border-bottom: none;
  color: #F16362;
}

.head {
	background: transparent;
}


.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0px;
}
.footer{
  border-top: 1px solid #ddd;
  padding: 20px 0 40px 0;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;

  padding-left: 41%;
}


}
.footer a{
  color: #555;
  border-bottom: 1px solid #F16362;
  margin-right: 20px;
  margin-bottom: 25px;
}
.footer a.first{
  color: #555;
  border-bottom: 1px solid #F16362;
  margin-left: 0px
}
.copy {
  color: #F16362;
}


.footer a:hover {
  color: #555;
  border-bottom: none;
}
.footer p{
  color: #bbb;
  text-align: center;
