  {% extends "index.html" %}

{% block maincontent %}

  <div class="nl-blurred">


<div class="container demo-1">
<div class="main clearfix">


<form>
  <div id="nl-form" class="nl-form">


    <div id="temp" class="cls">
          I love
          <select>
            <option value="1" selected>_________</option>
            <option value="2">Android</option>
            <option value="3">Iphone</option>
            <option value="4">Windows</option>
            <option value="2">others</option>
          </select>.
          <div class="nl-overlay"></div>
        </div>



                <div id="temp" class="cls">
          I am
          <select>
            <option value="1" selected>_________</option>
            <option value="2">just born!</option>
            <option value="3">a teenager</option>
            <option value="4">a batchlor</option>
            <option value="2">a proud father</option>
          </select>.
          <div class="nl-overlay"></div>
        </div>


        <div id="temp" class="cls">
          I have
          <select>
            <option value="1" selected>no</option>
            <option value="2">occasional</option>
            <option value="3">constant</option>
          </select>
          internet connection in my
          <select>
            <option value="1" selected>home</option>
            <option value="2">office</option>
            <option value="3">mobile</option>
            <option value="4">blood</option>
          </select>.
          <div class="nl-overlay"></div>
        </div>


        <div id="temp" class="cls">
          Local shops are better due to
          <select>
            <option value="1" selected>_________</option>
            <option value="2">convinience</option>
            <option value="3">trust</option>
            <option value="4">service</option>
            <option value="5">security</option>
          </select>.
          <div class="nl-overlay"></div>
        </div>


        <div id="temp" class="cls">
          If my favorite neighbour shop is online then will buy
          <select>
            <option value="1" selected>_________</option>
            <option value="2">most often</option>
            <option value="3">casualy</option>
            <option value="4">rarely</option>
          </select>.
          <div class="nl-overlay"></div>
        </div>


        <div id="temp" class="cls">
          Delivery within less than
          <select>
            <option value="1" selected>_________</option>
            <option value="2">5 hrs</option>
            <option value="3">2 hrs</option>
            <option value="4">1 hr</option>
          </select>
          will freak me out!!
          <div class="nl-overlay"></div>
        </div>

        <div id="temp" class="cls">
           I wouldn't bother to pay
          <input type="text" value="" placeholder="Enter amount(Rs) " data-subline="For example: <em>50</em> or <em>75</em>"/> for this.
          <div class="nl-overlay"></div>
        </div>



        <div id="temp" class="cls">
          How about a 24/7 delivery?
          <select>
            <option value="1" selected>_________</option>
            <option value="2">Meh.</option>
            <option value="3">fuck awsome!!</option>
            <option value="4">OK||</option>
          </select>
          <div class="nl-overlay"></div>
        </div>



    <div class="nl-submit-wrap">

                <button class="nl-submit" type="submit">Ingrace Us!</button>
          <div class="nl-overlay"></div>
        </div>





        <a id="prev">prev</a>
        <a id="next">next</a>
      </div>


</form>
</div>
</div>

  </div>

    </div><!-- /container -->
     </div>
{% endblock %}

