  {% extends "index.html" %}

{% block maincontent %}


  <div class="nl-blurred">
    <div class="container demo-1">



      <div class="main clearfix">
<form>
  <div id="nl-form" class="nl-form">


    <div id="temp" class="cls">
          I love
          <select>
            <option value="1" selected>_________</option>
            <option value="2">Online</option>
            <option value="3">Offline</option>

          </select>Shopping.
          <div class="nl-overlay"></div>
        </div>
          <div class="nl-submit-wrap">

        <button class="nl-submit" type="submit">Next</button></div>
      </div>


</form>
</div>

  </div>

    </div><!-- /container -->


  </div>
{% endblock %}