.content {
  margin-left: 20px;
  margin-right: 20px;
  width:100%;
  height:100%;
}

.row {
  width: 80%;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

.copy {
  text-align: center;
  width: 100%;
}

.navbar-bottom {
  text-align: center;
}
body {
  margin: 2px;
}


.products:
{
  border-bottom:5px;
  margin-bottom: 5px;
}